.achievement{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 64px;
    background-color:#0578FF ;
    
    &__item{
       display: flex;
       flex-direction: column;
       align-items: center;
       color: white;

       &-number{
        font-size: 50px;
        font-weight: bold;
       } 
    
       &-text{
        font-size: 20px;
       }
    }

}