.download{
    display: flex;
    flex-direction: column;
    background-color: #FFC501;
    padding: 128px 0 116px;
    align-items: center;
    gap: 60px;

    &__header{
       font-weight: 700;
       font-size: 62px;

    }

    &__apps{
        display: flex;
       
        justify-content: center;
        align-items: center;
        gap: 125px;
        
        img{
        width: 15%;
    }
}

}

@media (max-width: 768px) {
    
    .download{
       
        gap: 32px;

            &__header{
        font-size: 40px;
    }
    &__apps{
        flex-wrap: wrap;
        gap: 60px;
        
        img{
        width: 30%;
    }

    }
}
}