.faq{
    padding: 128px 177px 249px;
    
    &__title{
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    &__item:not(:last-of-type){
        border-bottom: 1px solid rgba(0, 0, 0, 0.503);
    }

    &__question-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        padding: 16px 0;
    }

    &__answer{
        font-size: 16px;
        padding: 16px 0;
    }
}