.gallery{
    padding: 128px 64px;
    background-color:#DFEDFE ;

    &__header{
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 24px;
    }
    &__main{
        display: flex;
        gap: 32px;
    }

    &__left-side{
        display: flex;
        flex-direction: column;
        width: 43.5%;
        gap: 32px;
    }

    &__right-side{
        display: flex;
        flex-direction: column;
        width: 56.5%;
        gap: 32px;
    }

    &__right-side_top{
        display: flex;
        gap: 32px;
    }
    
    &__image-top-left{
         width: calc(40% - 16px);
    }
        
    &__image-top-right{
        width: calc(60% - 16px);
    }
    
    &__image-left-top{
        width: 100%;
    }

    &__image-left-bottom{
        width: 100%;
    }
}
