.header{
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    height: 116px;
    align-items: center;
    
    

    &__list{
        display: flex;
        align-items: center;
        gap: 95px;
        list-style: none;
    }
    &__list-item{
        font-size: 20px;
        line-height: 24px;
        
        
        &:hover{
            font-weight: bold;
            cursor: pointer;
        }
    }
    &__logo{
        height: 50px;
    }

    &__burger-menu{
        display: none;
        width: 30px;
        height: 24px;
    }
}

@media (max-width: 768px) {
    
    .header{

        &__list{
            display: none;
        }

    &__burger-menu{
        display: block;
    }
    }
}