.header{
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    height: 116px;
    
    

    &__list{
        display: flex;
        align-items: center;
        gap: 95px;
        list-style: none;
    }
    &__list-item{
        font-size: 20px;
        line-height: 24px;
        
        
        &:hover{
            font-weight: bold;
            cursor: pointer;
        }
    }
    &__logo{
        height: 50px;
    }
}