@import 'components/header';
@import 'components/reset';
@import 'components/main';
@import 'components/achievment';
@import 'components/gallery';
@import 'components/download'; 

.wrapper{ 
    max-width: 1440px;
    width: 100%;
}
*{
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(180deg, #F5F5F5 0%, #DDECFF 50.17%, #F5F5F5 100%);
}